/* Animasi untuk progress bar */
@keyframes progress {
    from { width: 0%; }
    to { width: 100%; }
}

#progressBar {
    animation: progress 0.5s ease-in-out;
}

/* Animasi untuk log entry */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#consoleLog div {
    animation: fadeIn 0.5s ease-in-out;
}

/* Tampilan terminal */
.terminal-box {
    background-color: #1e1e1e;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
    color: #00ff00; /* Warna teks hijau seperti terminal */
    font-family: 'Courier New', Courier, monospace;
}